*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    line-height: 1.5;
    color: rgb(61, 61, 60); /* body ke andar ka text exclude navbar */
    overflow-x: hidden;
}
#top-text{
    color: rgba(248, 248, 248, 0.952);
    text-decoration: none;
    margin-top: 1.5rem;
    
}
#navbar{
   
    display: flex;
    flex-flow: wrap;
    
    
    background: url(../html.jpeg) no-repeat center center/cover  ;
    
    height: 11rem;
    justify-content: space-between;
    
    padding: 2.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid rgb(229, 255, 0);
    


}

#navbar ul {
    display: flex;
   align-items: center;
   list-style: none;
}


#navbar h2 a{
    height: 15%;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 54px;
}

#navbar ul li a{
    text-decoration: none;
    color: rgba(253, 253, 33, 0.918);
    
    padding: 1.5rem;
    border-radius: 4px;
    font-size: 1.3rem;


}
#navbar ul li a:hover{

    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: rgba(253, 253, 253, 0.781);
    font-family: 'RocknRoll One', sans-serif;
    
    z-index: 1;
    /* opacity: 1.4; */
    

}




/* for show case */
#showcase{

    background: url(../android\,jpg.jpg) no-repeat center center/cover  ;
    height: 35rem;
    width: 100%;
    opacity: 2.4;
}  


.mid-text{
    /* color: #97431c; */
    display: inline-block;
    margin-left: 24rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 62px;
    color: rgb(254 255 254);
   shape-image-threshold: rgb(241, 139, 139);
    


}
.btn{
 
    color: rgb(230, 255, 6);
    display: inline-block;
    margin-left: 598px;
    margin-top: 246px;
    text-align: center;
    text-decoration: none;
    font-size: 48px;
    border-radius: 15px;

}
.btn:hover{
    font-family: 'Orelega One', cursive;
    background-color:powderblue;
    opacity: 1.7;
    color: rgb(0, 0, 0);
    
}


    
/* #videoMessage { position: absolute; top: 0; left: 0;
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center; 
width: 100%;
height: 100%;} */

/* for about and my photos */

#about{
    padding: 4.1rem;
    background-color: rgba(251, 255, 15, 0.89);
  
    

}


#about h2{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
}


.me{
   
    color: blue;
}

.text-primary{
    color: rgb(0, 68, 255);
}
#about h3{
    font-size: 2rem;

}

#about p.lead {
margin-bottom: 2.5rem;

}
.lead{
    font-size: 2rem;
}

#about .about-image img{
    padding: 1rem;
    display: block;
    height: 330px;
    margin-right: auto; 
    margin-top: 60px;
    border-radius: 60%;
}
/* bindu banya isase */
.dot {
    float: left;
    margin-top: 1rem;
    margin-right: 1rem;
    height: 13px;
    width: 13px;
    background-color: rgb(9, 26, 250);
    border-radius: 50%;
    display: inline-block;
  }

  /**skills**/
#skills {
	padding: 5rem 0;
}
#skills h2 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 3rem;
}
#skills h3{
	text-align: center;
	margin-bottom: 2rem;
	font-size: 2rem;
}
#skills .boxes{
	display: flex;
	flex-flow: wrap;
}
#skills .box {
	background :#fff; 
    flex: 1;
    padding: 3rem;
    margin: 2rem 3rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #d1d1d1;
    font-size: 1.3rem;
    font-weight: 1.4;
}
#skills .feature{
 color: #fff;
 text-align: center;
 padding:  1rem;
 background:  #fd531f;
 border-radius:  50%;
 margin: 0 1rem;
 margin-bottom: 2rem;
}

/* project ki styling */
.p-style{


}

#Projects {
	background: url(../cod.jpg) no-repeat center center/cover;
	height: 104vh;
}
.Projects-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
	padding: 5rem 0;
}
#Projects h2{
	text-align: center;
	font-size: 3rem;
	font-weight: 1.4;
	margin-bottom: 3rem;
	color: #fff;
}
#Projects .boxes {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
}
#Projects .box {
	background: rgba(255, 63, 5, 0.842);
	display: flex;
	padding: 2rem;
	align-items: center;
	border-radius: 15px;
}
#Projects .box{
	margin-bottom: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
} 
#Projects p{
	font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	font-size: 1.2rem;
}
#Projects a{
	color: #fff;
}
#Projects a.hotel {
	font-family: 'Lato', sans-serif; 
	text-decoration: none;
	text-align: center;
	text-shadow: 20;
	border-radius: 5px; 
	text-shadow: #FC0 1px 0 10px; 
	font-weight: 600;
	font-style: italic;
    padding: 15px;
}

/* contact ki styling */
#Contact {
	padding: 4rem 0;
    /* background-color: lightblue; */
    
}
#Contact h2{
	text-align: center;
	font-size: 3rem;
	margin-bottom: 8rem;
}
#Contact h3{
    text-align: center;
    background-color: #FC0;
    margin-top: 5rem ;
    margin: 4rem 0rem;
    font-size: 3rem;
    border-radius: 1rem;
	/* text-align: center;
	font-size: 2.5rem;
	margin: 3rem 0;
	margin-top: 5rem;  */

   
    
}
#Contact .form-box {
	background: #fff;
	padding: 3rem;
	box-shadow: 2px 2px 5px white;
	border-radius: 10px;
}
#Contact .form-group{
	margin-bottom: 2rem;
}
#Contact .form-group label {
	display: block;
	margin-bottom: 0.5rem;
	width: 80%;
	margin-left: 10%;
	font-size: 1.5rem;
}
#Contact .form-group input,
#Contact .form-group textarea {
	width: 80%;
	margin-left: 10%;
	font-size: 1.3rem;
	padding: 1rem;
	border: 0.5px solid #333;
    background-color: rgba(255, 255, 110, 0.836);
	border-radius: 5px;
}
#Contact .form-group textarea {
	font-family: Arial,sans-serif;
}

#Contact .contact-btn {
	width: 80%;
	margin-left: 10%;
	display: inline-block;
	padding: 1rem 3rem;
	border:none;
	border-radius: 5px;
	font-size: 1.5rem;
	background: #ff2121;
	color: #fff;
	margin-bottom: 2rem;
	cursor: pointer;
	transition: background 0.3sec;
}
#Contact .contact-btn:hover {
	background: #0378ff;
}
#Contact .form-container {
	position: relative;
}
#Contact .mail-icon{
	font-size: 4rem;
	background: #3693ff;
	color: #fff;
	display: inline-block;
	padding: 1.5rem 2rem;
	border-radius: 50%;
	position: absolute;
	top: -7%;
	left: 45%;
}

/* thanks visting ki styling */
.thnx{
    text-align: center;
    font-family: 'PT Serif', serif;
    font-size:  2.2rem;
   margin-top: 1.8rem;
   margin-bottom: 1.8rem;
       padding: 1.5rem;
    
}




/* footor ki styling, matlb website ka sabse neeche ka hisa */
footer{
    /* copyright ki styling */

    background: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 9px 20px;
    
}
